In [3]:
print(1+3)

4

In [1]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [2]:
print("降水確率" + str(50) + "%")

降水確率50%

In [3]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ晴れ

In [4]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [5]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [6]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name = "侍"
firnt_name = "太郎"
print(last_name + firnt_name)

7.5
侍太郎

In [9]:
name1 = "侍"
name2 = "太郎"
name3 = "花子"

print(f"私の名前は{name1}{name2}です。妹の名前は{name3}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [30]:
a = ((10 + 20) * 5 / 2)
print(f"{a}㎠")

75.0㎠